[Unit]
Description=Analyse iOS apps
Requires=systemd-networkd-wait-online.service
After=systemd-networkd-wait-online.service

[Service]
ExecStart=/home/pi/analyser/processQueue.sh
RestartSec=5s
Restart=always
User=pi
KillSignal=SIGINT
RestartKillSignal=SIGINT
TimeoutStopSec=2
LimitNOFILE=32768

[Install]
WantedBy=multi-user.target
